{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="main flex-fill">
            <div class="container">
                <nav aria-label="breadcrumb" class="mt-3 mb-3">
                    <ol class="breadcrumb p-3 bg-white rounded-3">
                        <li class="breadcrumb-items px-2">
                            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'main:home' %}">
                                Asosiy
                            </a>
                        </li>
                        <li class="breadcrumb-items px-2">
                            /
                        </li>
                        <li class="breadcrumb-items px-2 active">
                            Xalqaro hamkor Unversitetlar
                        </li>
                    </ol>
                </nav>

                <section class="grants mb-3" id="grants">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="card border-0">
                                <h4 class="border-bottom fst-italic fw-bold pb-2 text-uppercase p-3">
                                    Xalqaro hamkor Unversitetlar
                                </h4>
                            </div>
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                {% for partner_university in PU %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse-12"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            <img src="{{ partner_university.university_logo.url }}"
                                                alt="" class="me-2 rounded-circle img-fluid" width="50" height="50"> {{ partner_university.country }}
                                        </button>
                                    </h2>
                                    <div id="collapse-12" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Universitet nomi</th>
                                                            <th>Davlat</th>
                                                            <th>Rasmiy sayti</th>
                                                            <th>Universitet logatipi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ partner_university.university_name }}</td>
                                                            <td>{{ partner_university.country }}</td>
                                                            <td><a href="{{ partner_university.official_website }}"
                                                                    target="_blank">{{ partner_university.official_website }}</a></td>
                                                            <td><img src="{{ partner_university.university_logo.url }}"
                                                                    alt="" class="university-logo rounded" width="100">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-4 d-none d-lg-block">
                            <div class="card border-0">
                                <div class="card-body">
                                    <h4 class="fz-16 border-bottom pb-2 fw-bold">Xalqaro faoliyat</h4>
                                    <ul class="rightMenu">
                                        <li>
                                            <a href="grants.html">Grantlar</a>
                                        </li>
                                        <li>
                                            <a href="international-development-education.html">Xorijda malaka oshirish
                                                va ta`lim</a>
                                        </li>
                                        <li>
                                            <a href="#">Xalqaro almashuv dasturi</a>
                                        </li>
                                        <li>
                                            <a href="#">Xorijiy safarlar va tashriflar</a>
                                        </li>
                                        <li>
                                            <a href="#">Xalqaro hamkor Unversitetlar</a>
                                        </li>
                                        <li>
                                            <a href="#">Xalqaro faxriy professorlar</a>
                                        </li>
                                        <li>
                                            <a href="#">Xorijiy talabalar</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

        </div>


{% endblock %}
