{% extends '../base.html' %}
{% load static %}
{% block content %}
        <div class="main flex-fill">
            <div class="container">
                <nav aria-label="breadcrumb" class="mt-3 mb-3">
                    <ol class="breadcrumb p-3 bg-white rounded-3">
                        <li class="breadcrumb-items px-2">
                            <a class="link-body-emphasis fw-semibold text-decoration-none" href="../index.html">
                                Asosiy
                            </a>
                        </li>
                        <li class="breadcrumb-items">
                            /
                        </li>
                        <li class="breadcrumb-items px-2 active">
                            O‘zbekiston haqida
                        </li>
                    </ol>
                </nav>

                <section class="grants mb-3" id="grants">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">



                                {% for about_uzbekistan in AU %}
                                <div class="col-lg-3 col-md-6 col-12">
                                    <a href="{{ about_uzbekistan.link }}" class="destinations_item"
                                        style="background-image: url({{ about_uzbekistan.img.url }});" target="_blank">

                                        <div class="sq_parent">
                                            <div class="sq_wrap">
                                                <div class="sq_content">
                                                    <div class="_content">
                                                        <h3 class="_title">{{ about_uzbekistan.title }}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shadow js-shadow"
                                            style="background-image: url({{ about_uzbekistan.img.url }})"></div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

































































                    </div>

                </section>
            </div>

        </div>
{% endblock %}
